@{
    ViewBag.Title = "Home Page";
}

<main style="text-align: center";>
   
        <h1>Welcome to Global School</h1>
   
        <img src="~/image/amit.jpg" alt="School Image" />
    
    <section>
        <h2>About Us</h2>
        <p>
            Global School is dedicated to providing a quality education that empowers students to succeed
            in a dynamic world. Our school focuses on fostering creativity, critical thinking, and personal growth.
        </p>
        <p><a href="https://asp.net" class="btn btn-primary">Learn more &raquo;</a></p>
    </section>

    <section>
        <h2>Academic Programs</h2>
        <p>
            Explore our diverse academic programs designed to meet the needs and interests of every student.
            From STEM to arts and humanities, we offer a wide range of educational opportunities.
        </p>
        <p><a href="https://asp.net" class="btn btn-primary">Learn more &raquo;</a></p>
    </section>

    <section>
        <h2>Contact Us</h2>
        <p>
            Have questions or need assistance? Feel free to reach out to our friendly staff. We're here to help!
        </p>
        <p><a href="https://asp.net" class="btn btn-primary">Contact &raquo;</a></p>
    </section>
</main>